<div>
	<h3><strong>{{article.title}}</strong></h3>

	<p>{{article.content}}</p>
	<p>Published on: {{article.date_written}}</p>
	<p>Published by: {{author.username}}</p>

	<a href="/articles/edit/{{article.id}}">
		<strong>Edit Article</strong>
	</a>
	<br>
	<form action="/articles/{{article.id}}" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button style="position: relative; top: 20px; color: blue; cursor: pointer">Delete Article</button>
	</form>
</div>

