<div>
	<h3 style="color: red; margin: 15px 30px; font-size: 25px;"><strong>{{article.title}}</strong></h3>

	<p style="color: white; margin: 15px 30px;">{{article.content}}</p>
	<p style="color: white; margin: 15px 30px;">Published on: {{article.date_written}}</p>
	<p style="color: white; margin: 15px 30px;">Published by: {{author.username}}</p>

	<a href="/articles/edit/{{article.id}}">
		<strong style="color: yellow; margin: 15px 30px;">Edit Article</strong>
	</a>
	<br>
	<form action="/articles/{{article.id}}" method="POST">
		<input type="hidden" name="_method" value="DELETE">
		<button style="position: relative; top: 20px; color: white; background: green; margin: 15px 30px; cursor: pointer; border-radius: 5px;">Delete Article</button>
	</form>
</div>

